<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ASIA Neurological Testing</title>
    <style>
        body{
            background:url('/img/slide-3.jpg');
        }
    </style>
    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/modern-business.css" rel="stylesheet">

    <link href="/css/card.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>



<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">ASIA Neurological Testing</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/contactUs">Contact</a></li>
                <li th:attr="style=${notLogged}"><a href="/signUp">Sign Up</a></li>
                <li th:attr="style=${notLogged}"><a href="/login">Login</a></li>
                <li th:attr="style=${logged}" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><img class="img-responsive img-circle" style="display:inline;width:30px;height:30px"  th:attr="src=${photo}">
                        <span th:text="${user.userName}"></span>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:attr="href=${profile}">Profile</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                <div class="text-center h2 text-primary">
                    Profile
                </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <img class="img-responsive" style="border-radius:50%;width:250px;height:250px;" alt="" th:attr="src=${photo}" src="http://placehold.it/250x250">
                        </div>
                        <div class="col-md-9 col-sm-6 col-xs-12">
                            <hr class="text-info">
                            <div class="form-group h5">
                                <label class="">User Name:</label>
                                <span class="text-primary" th:text="${user.userName}"></span>
                            </div><hr>
                            <div class="form-group h5">
                                <label class="">Job:</label>
                                <span class="text-primary" th:text="${user.job}"></span>
                            </div><hr>
                            <div class="form-group h5">
                                <label class="">Email:</label>
                                <span class="text-primary" th:text="${user.email}"></span>
                            </div><hr>
                            <div class="form-group h5">
                                <label class="">Info:</label>
                                <span class="text-primary" th:text="${user.description}"></span>
                            </div><hr>

                        </div>
                    </div>
                    <hr>
                        <div class="col-lg-12">

                            <ul id="myTab" class="nav nav-tabs nav-justified">
                                <li class="active"><a href="#service-one" data-toggle="tab" aria-expanded="true"><i class="fa fa-user"></i> My Cases</a>
                                </li>
                                <li class=""><a href="#service-two" data-toggle="tab" aria-expanded="false"> <i class="fa fa-file-text"></i> My Posts</a>
                                </li>
                            </ul>

                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in" id="service-one">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <hr>  <div class="text-right">
                                                        <a th:attr="href=${newCaseButton}" class="btn btn-primary">Create New Case</a>
                                                    </div>
                                                    <hr>
                                            </div>
                                            <hr>
                                            <h1 class="text-warning text-center" th:text="${#lists.size(cases)}==0?'You have no cases yet'" ></h1>
                                            <hr>
                                            <div th:each="case:${cases}" th:attr="id=${case.caseId}" class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card">
                                                    <div class="thumbnail">
                                                        <img style="width:250px;height:270px;" th:attr="src=${profile}+'/cases/'+${case.caseId}+'.png'" src="http://lorempixel.com/600/400" alt="#">
                                                        <div class="caption">
                                                            <h3>
                                                                <span th:text="${case.caseName}"></span>
                                                                <small th:text="${case.createdDate}">
                                                                </small>
                                                            </h3>
                                                            <hr>
                                                            <p th:text="${case.email}">
                                                            </p>
                                                        </div>
                                                        <div class="btn btn-group btn-group-justified">
                                                        <a th:attr="onclick=|deleteCase('${case.caseId}','${profile}/cases/delete?id=${case.caseId}')|" class="btn btn-danger">Delete Case</a>
                                                        <a th:attr="href=|${profile}/cases/${case.caseId}|" class="btn btn-primary" >View More</a>
                                                        </div>
                                                        <hr>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                                <div  class="tab-pane fade" id="service-two"><hr>
                                    <div class="text-right">
                                        <a th:attr="href=${newPostButton}" class="btn btn-primary">Add New Post</a>
                                    </div>
                                    <hr>
                                <h1 class="text-warning text-center" th:text="${#lists.size(posts)}==0?'You have no posts yet'" ></h1>
                                    <hr><div th:each="post: ${posts}">
                                    <h3>
                                        <a href="#" th:text="${post.postTitle}">Post Title</a>
                                    </h3>
                                    <p><i class="fa fa-clock-o" th:text="|Created at: ${post.createdDate}|"></i> Posted on August 28, 2013 at 10:45 PM</p>
                                    <hr>
                                    <a th:href="${profile}+'/posts/'+${post.postId}" style="text-primary">
                                        <img class="img-responsive" style="width:300px;height:200px;" th:attr="src=${profile}+'/posts/'+${post.postId}+'.png'">
                                    </a>
                                        <p th:text="${post.postText}"></p>
                                    <hr>
                                </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    <!-- /.row -->



    <!-- /.row -->

    <!-- Team Members -->


    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; ASIA Neurological Testing 2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/human.js"></script>

</body>

</html>
